* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
	cursor: default;
}

body {
	overflow: auto;
	max-height: 100vh;
}

body::-webkit-scrollbar {
	width: 0;
	height: 0;
}

img {
	float: left;
}

a {
	color: #ddd;
}

.container {
	display: inline-block;
}

.picture {
	position: relative;
	float: left;
}

.author {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 1rem;
	top: 0;
	left: 0;
	opacity: 0;
	font: normal 3rem Courier, monospace;
	background: linear-gradient(top, rgba(0,0,0,.5) 0%,rgba(0,0,0,.2) 20%,rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,.5) 0%,rgba(0,0,0,.2) 20%,rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(top, rgba(0,0,0,.5) 0%,rgba(0,0,0,.2) 20%,rgba(0,0,0,0) 100%);
}

.author:hover {
	opacity: 1;
}

@media only screen and (min-width: 768px) {
	.author {
		font: normal 1rem Courier, monospace;
	}
}
